 *{
    font-family: "Kode Mono", monospace;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
 }

 body{
    padding-top: 72px;
    margin: 0;
    background-color: white;
    color: #faf9f5;

    z-index: -1;
}
nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    translate: 0 -72px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    padding: 0 20px;
    height: 72px;
    background:#401F71 ;
    transition: 0.3;
  z-index: 1;
  
  box-shadow: 2px 2px 20px rgba(0,0,0,0,3);


}

nav div a{
    color: white;
    text-decoration: none;
    padding: 8px 16px;
    border-radius: 22px;
}

nav div a:hover{
transition: 0.25s;
background: rgb(255, 255, 255);
color: #401F71;
}
nav.vis{
  
    top: 0;
    translate: 0;

}

nav .sidebar-toggle{
  border-radius: 50%;
  width: 36px;
  height: 36px;
  margin-left: 50px;
  background-color: #401F71;

}
nav .sidebar-toggle img{

    width: 36px;
    height: 36px;
    background-color: #f9f9f9;
    color:#401F71;
    display: grid;
    place-items: center;
    border-radius: 50%;
    transform: scale(1.2);
    z-index: 1;
    cursor: pointer;
    margin-top: -30px;
    
   

}
.sidebar-toggle:focus + .sidebar {
  left: 0;
}
#sidebar-toggle:focus + #sidebar.hidden {
  left: -200px;
}

#sidebar.hidden {
  left: -200px;
}
.links{
    display: flex;
    align-items: center;
    gap: 16px;
}
.head{
   position: relative;
   width: 100%;
   height: 100vh;
}

.main img{
    position: absolute;
    height: 700px;
    width: 100%;
    filter: brightness(50%);
   background-size: cover;
   background-position: center;
    box-shadow: 15px#401F71;
    z-index: -1;
  }
 .text{
  background-size: cover;
  width: 100%;

  
 }
  
 .text h1
 {
  color:#ffffff;
    position: absolute;
    height: 100px;
    right: 0;
    left: 50px;
    width: 70vw;
   bottom: 267px;
   margin-left: 30px;


}
.text h4{
  color: white;
  position: absolute;
    height: 70px;
  right: 0;
  left: 50px;
  width: 70vw;
 bottom: 100px;
 flex-wrap: wrap;
 margin-left: 30px;

}
.choose-category p{
  margin-left: 11px
}

.image{

  position: relative;
  
}
.get-started-btn {
  position: absolute; 
margin-top: 400px;
margin-left: 300px;
  background-color: transparent;
  filter: blur(100%);
  color: #ffffff;
  border: 1px solid white;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}
.djamal p{
  color: #401F71;
  margin-left: 90px;
  font-size: 28px;
}
#go-to-top-btn{
border: 1rem white solid;
    position: fixed;
    bottom: 20px;
    right: 20px;
    color: #fff;
    border: none;
    padding: 20px 20px;
    border-radius: 50%;
    cursor: pointer;
    display: none; /* Hide the button by default */
  background-color: #5e4d76;
  z-index: 1000000;
}
.get-started-btn:hover {
  background-color: #BE7B72;
}

@media(max-width: 500px) {
  .get-started-btn {
      margin-top: 650px;
      margin-left: 100px;
  }
  .text h4{
    bottom:  -150px;
  }
}
.background{
    display: none;
}
nav .sidebar-toggle{
margin-top: 30px;

}
.nunu{
  
  display: none;
  flex-direction: column; 
  align-items: flex-end; 
  background-color: transparent;
}
.nunu i{
  transform: scale(2.2);
  color: white;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width:200px;
  height: 100%;
  background-color: #401F71;
  padding: 20px;
  box-sizing: border-box;
  display: none;
  overflow: hidden;
  transition: all 0.5s ease;
  z-index: 1;
  transition-duration: 1s;
 

}
 @media (max-width:767px) {
  .sidebar{
    display: flex;
  }
  .nunu{
    display: flex;
  }
  nav .links{
    display: none;
}
.rating-card{
  left: -300px;
}


  
}


.overlay {
  display: none;
  position: fixed;
  z-index: 2;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5); /* Semi-transparent black */
 
}

.close{
  margin-right: 270px;
  cursor: pointer;
}


/* rating card */


.text-primary span{
  color: #e1c237;
  letter-spacing: 0.1px;
  
  
}
.rating-card {
  width: 280px;
  height: fit-content;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: #0f0c29;
  background: linear-gradient(to right bottom, #443e89, #0f0c29);
  padding: 20px 20px;
  border-radius: 10px;
  gap: 10px;
  font-family: Arial, Helvetica, sans-serif;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.058);
  margin-left: 455px;
  margin-top: 100px;
  z-index: 3;
  position: fixed;
  flex-wrap: wrap;
}
.text-wrapper {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
 
}
.text-primary {
  color: white;
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 0.5px;
  margin-top: 2px;

}
.text-secondary {
  color: #cccccc;
  font-size: 10px;
  font-weight: 400;
  letter-spacing: 0.5px;
  margin-top: 2px;

}
.rating-stars-container {
  width: 100%;
  height: 30px;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
}
.star-label svg {
  fill: rgb(210, 210, 210);
  width: 20px;
  height: auto;
}
.rating-stars-container input {
  appearance: unset;
}
.rating-stars-container input:hover ~ .star-label svg {
  fill:#ffeda3;

}
.rating-stars-container input:checked ~ .star-label svg {
  fill:#e1c237;
  animation: slide-in-fwd-center 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
@keyframes slide-in-fwd-center {
  0% {
    transform: scale(1.6);
  }
  100% {
    transform: scale(1);
  }
}

.socials-container {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding-top: 20px;
  border-top: 1px solid rgb(150, 150, 150);
}
.social-button {
  text-decoration: none;
}
.social-button svg {
  width: 15px;
  fill: rgb(228, 228, 228);
}
.social-button:hover svg {
  fill:#e1c237;
}

.sidebar button{
  
    border-radius: 50%;
    width: 36px;
    height: 36px;
    margin-left: 50px;
    background-color: #401F71;
  
  }
.sidebar button img{
  
   width: 36px;
      height: 36px;
      background-color: #f9f9f9;
      color:#401F71;
      display: grid;
      place-items: center;
      border-radius: 50%;
      transform: scale(1.2);
      z-index: 1;
      cursor: pointer;
      margin-top: -10px;
      
     
  
  }





.sidebar-nav {
  list-style: none;
  padding: 0;
  margin-top: 70px;
}

.sidebar-item {
  margin-bottom: 30px;
 margin-left: -30px;
 
}


.sidebar-item a {
  color: white;
  text-decoration: none;
 
}

.sidebar-item a:hover {
  color: #ffd18c;
}

.sidebar-item a.active {
  color:  #824D74;
}

.content {
  margin-left: 200px;

  padding: 50px;
}

.cards {
  display: flex;
  flex-direction: row;
  gap: 30px;
  margin-top: 100px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  
}

.cards .red {
  background-color: #401F71;
  border:2px solid #FDAF7B;

}

.cards .blue {
  background-color: #401F71;
  border:2px solid #FDAF7B;

}

.cards .green {
  background-color: #401F71;
  border:2px solid #FDAF7B;


}
.cards .pink {
  background-color: #401F71;
  border:2px solid #FDAF7B;

}

.cards .card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  height: 100px;
  width: 250px;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  transition: 400ms;
}

.cards .card p.tip {
  font-size: 1em;
  font-weight: 700;
}

.cards .card p.second-text {
  font-size: .7em;
  width: 17em;
}

.cards .card:hover {
  transform: scale(1.1, 1.1);
}
.cards a{
  text-decoration: none;
  color: white;
}
.choose-category{
  margin-top: 800px;
margin-left: 75px;
font-size: 27px;
color: #392f47;

}


 
/* 
@media only screen and (max-width: 767px){
    nav .links{
        display: none;
    }
    .sidebar{
      display: flex;
    }
       .sidebar-toggle{
        display: inline;
       }
      


} */
/* Initial form state */

.form {
    --col1: #fff;
    --col2: #252325;
    --col3: #ffffff;
    --col4: #ffffff;
    --col5: #401F71;
    --sh: rgba(80, 80, 80, 0.35);
    --rad: 4px;
    --radBig: 10px;
    border-radius: var(--radBig);
    box-shadow: 0 0 20px var(--sh);
    display: flex;
    flex-direction: column;
    gap: 1.5em 1em;
    padding: 1em;
    position: relative;
    max-width: 75%;
    max-height: 90px;
    transition: .2s ease-out, max-height .3s ease-out;
    overflow: hidden;
    z-index: 0;
    margin-top: 50px;
  
    /* left: 3rem; */

  }
  .dumb{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .form::before {
    content: 'Ready to Choose?';
    color: #401F71;
    font-size: 1.2em;
    font-weight: 700;
    display: grid;
    width: calc(100% - 2em);
    height: 60%;
    position: absolute;
    place-items: center;
    z-index: 99999;
    
  }
  
  .form::after {
    display: flex;
    justify-content: center;
    align-items: center;
    content: '';
    backdrop-filter: blur(6px) grayscale(100%);
    background: linear-gradient(-180deg, rgba(255,255,255,1) 0%, rgba(255,255,255,.5) 70%, rgba(255, 255, 255, 0.3) 90%);
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    display: block;
    position: absolute;
    z-index: 999;
  }
  
  .form::after,
  .form::before {
    border-radius: 0 0 var(--radBig) var(--radBig);
    pointer-events: none;
    transition: all .5s ease-out;
  }
  
  /* Form hover and focus */
  .form:hover,
  .form:focus-within {
    max-width: 80%;
    max-height: 1000px;
  }
  
  .form:focus-within {
    overflow: initial;
  }
  
  .form:hover::before,
  .form:hover::after {
    opacity: 0;
  }
  
  .form:hover::after {
    backdrop-filter: blur(0) grayscale(0%);
  }
  
  .form header {
    color: var(--col1);
    font-size: 1.25rem;
    font-weight: 600;
    
  }
  /* Labels and inputs UI */
  :is(.form) label span, label input {
    flex: 1 100%;
    transition: all .3s ease-out;
  }
  
  :is(.form) input, select, button {
    appearance: none;
    border: 0;
    padding: .75em;
    border-radius: var(--rad);
    transition: all .3s ease-out;
  }
  
  .form label {
    display: flex;
    flex-flow: row wrap;
    color: var(--col4);
    gap: .5em;
  }
  
  .form input {
    box-shadow: inset 3px 3px 1px var(--sh);
  }
  
  .form fieldset {
    display: flex;
    backdrop-filter: blur(10px);
    flex-flow: row nowrap;
    gap: 1em;
    position: relative;
    transition: all .3s ease-out;
    padding: 1rem;
    z-index: 10;
    border: 3px double var(--col1);
    border-radius: var(--rad);
  }
  
  .form fieldset label {
    flex: 1;
    display: flex;
    flex-flow: row wrap;
    font-size: .75em;
  }
  
  .sm {
    justify-content: space-around;
  }
  
  .sm span {
    text-align: center;
    position: relative;
  }
  
  .form select {
    box-shadow: inset 3px 3px 1px var(--sh);
    padding: .75em 1.75em .75em 0.5em;
    position: relative;
  }
  
  .custom-select {
    position: relative;
  }
  
  .custom-select::after {
    position: absolute;
    content: "";
    top: 45%;
    right: 5px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: var(--col5) transparent transparent transparent;
  }
  
  .form fieldset span {
    flex: 1 100%;
  }
  
  .form fieldset input {
    flex: 0 1 40px;
  }
  
  .form button ::after {
    background-color: var(--col1);
    color: var(--col4);
    border: 2px solid var(--col4);
    font-size: 1em;
    font-weight: 700;
    align-self: center;
    padding: .5em 1.5em;
    appearance: none;
    justify-content: center;
    align-items: center;
  }
  
  /* Form and UI valid and invalid states */
  .form input:focus,
  .form select:focus {
    outline: 3px solid var(--col3);
    outline-offset: 1px;
  }
  
  .form input:invalid:not(:focus),
  .form select:invalid:not(:focus) {
    background-color: var(--col3);
    outline: 3px solid var(--col4);
    outline-offset: 1px;
  }
  
  .form input:valid:not(:focus),
  .form select:valid:not(:focus) {
    outline: 3px solid var(--col1);
    outline-offset: 1px;
  }
  
  .form .message {
    display: block;
    opacity: 0;
    font-size: .75em;
    font-weight: 400;
    transition: all .3s ease-out;
    margin: 10px;
  }
  
  .form:has(:invalid) .message {
    opacity: 1;
    margin: .25rem 0 0 0;
  }
  
  label:has(input:invalid),
  label:has(select:invalid) {
    color: var(--col3);
    opacity: .8;
  }
  
  label:has(input:valid),
  label:has(select:valid) {
    opacity: 1;
  }
  
  .form:hover:has(:focus, :active):valid .submitCard {
    max-height: 180px;
    opacity: 1;
    transition: opacity 1s ease-out .5s, translate 1.3s ease-out;
    translate: 0 100%;
  }
  
  .form:hover:invalid {
    transition: all .3s ease-out;
    background-color: var(--col5);
  }
  
  .form:hover:valid {
    transition: all .3s ease-out;
    background-color: var(--col1);
  }
  
  .form:hover:valid * {
    color: var(--col2);
  }
  
  .form:hover:valid input,
  .form:hover:valid select {
    outline: 3px solid var(--col2);
  }
  
  .form:hover:invalid fieldset {
    border: 1px dashed var(--col3);
    
  }
  
  .form:hover:valid fieldset {
    border: 1px dashed var(--col2);
  }
  
  /* Submit block */
  .form button .sm ::before {
    display: flex;
    justify-content: center;
    background-color: var(--col2);
    border-radius: 0 0 var(--rad) var(--rad);
    bottom: 0;
    padding: .5em;
    opacity: 0;
    max-height: 10px;
    translate: 0 -100%;
    position: relative;
    width: calc(100% - 2em);
    transition: all .5s ease-out .1s;
    z-index: -1;
    box-shadow: inset 3px 3px 1px var(--sh);
    padding: .75em 1.75em .75em 0.5em;
    backdrop-filter: blur(10px);
  }

  
  footer{
    padding: 50px;
    background-color: #9f8de3;
}
footer .social-with-logo{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
footer .social-with-logo ul{
    display: flex;
    gap: 20px;

}
footer .social-with-logo ul a{
    color: rgb(0, 0, 0);
    font-weight: bold;
}
footer .social-with-logo img{
    width: 150px;
}
footer .footer-links{
    display: grid;
    grid-template-columns:repeat(auto-fit, minmax(200px, 1fr)) ;
    margin: 50px 0px ;
    gap: 20px;
}
footer .footer-links h2{
    margin-bottom: 15px;
    color: #401F71;
}
footer .footer-links ul{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
footer .newsletter form{
    padding: 15px;
}
footer .newsletter form input{
    outline: none;
    border: none;
}
footer .newsletter form button{
    background-color: #7d6abdcd;
    color: rgb(120, 120, 120);
    border: none;
}
footer .newsletter form input,
footer .newsletter form button {
    padding: 5px 10px ;
}
footer .footer-message{
    padding-top: 15px;
    border-top: 2px solid  #eee9e9cd;
    text-align: center;
    font-weight: 400;

}
.top{
    background-color:  #322b4ecd;
    width: 60px;
    height: 60px;
    position: absolute;
    bottom: 30px;
    right: 30xp;
    z-index: 20;
    position: fixed;
    text-align: center;
    color: white;
    font-weight: bold;
    cursor: pointer;
    border-radius: 100%;
    
}
.top p{
    margin-top: 17px;
}
.underline{
  border-bottom: 1px solid #401F71;
    width: 200px;
    
}
.container {
  position: relative;
  width: 250px;
 /*  choose your size */
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 50px;
}

.container button {
  width: 50px;
  height: 50px;
  border: none;
  background-color: #401F71;
  transition: 0.3s;
  cursor: pointer;
}

.icon {
  width: 26px;
  height: 26px;
  fill: #fff;
}

.container button:nth-child(1):hover {
  background-color: #2753a7;
}

.container button:nth-child(2):hover {
  background-color: #cd242b;
}

.container button:nth-child(3):hover {
  background-color: #55acee;
}

.container button:nth-child(4):hover {
  background-color: #0274b3;
}

.title {
  color: #401F71;
  font-weight: 700;
  font-size: 17px;
  position: absolute;
  top: -35px;
  left: 0;
}
.card-s {
  display: flex;
  flex-direction: row;
  gap: 50px;
  margin-top: 100px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  color: white;
}
.card-s img{
  height: 300px;
  width: 500px;
}
.card {
  width: 500px;
  height: 300px;
  position: relative;
  perspective: 1000px;
  transform-style: preserve-3d;
  transition: 1s ease;
}
.card_front,
.card_back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  backface-visibility: hidden;
}
.card_front {
  border: 4px solid #401F71;
  background-color: #BE7B72;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card_back {
  border: 4px solid #401F71;
  background-color: #BE7B72;
  transform: rotateY(180deg);
  display: flex;
  justify-content: center;
  align-items: center;
}
.card.flipped .card_front {
  transform: rotateY(-180deg);
}
.card.flipped .card_back {
  transform: rotateY(0deg);
}
/* cleanin */
.textt h1{
  display: flex;
  justify-content: center;
  align-items: center;
}
.textt{
  margin-top: 90px;
  margin-left: 30px;
  margin-right: 30px;
  color: #401F71;
  font-size: large;
}

/* testimonials */

@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,800);
figure.snip1157 {
  font-family: 'Raleway', Arial, sans-serif;
  position: relative;
  overflow: hidden;
  margin: 10px;
  min-width: 220px;
  max-width: 310px;
  width: 100%;
  color: #333;
  text-align: left;
  box-shadow: none !important;
}
figure.snip1157 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.35s cubic-bezier(0.25, 0.5, 0.5, 0.9);
  transition: all 0.35s cubic-bezier(0.25, 0.5, 0.5, 0.9);
}
figure.snip1157 img {
  max-width: 100%;
  vertical-align: middle;
  height: 90px;
  width: 90px;
  border-radius: 50%;
  margin: 40px 0 0 10px;
}
figure.snip1157 blockquote {
  display: block;
  border-radius: 8px;
  position: relative;
  background-color: #fafafa;
  padding: 25px 50px 30px 50px;
  font-size: 0.8em;
  font-weight: 500;
  margin: 0;
  line-height: 1.6em;
  font-style: italic;
}
figure.snip1157 blockquote:before,
figure.snip1157 blockquote:after {
  font-family: 'FontAwesome';
  content: "\201C";
  position: absolute;
  font-size: 50px;
  opacity: 0.3;
  font-style: normal;
}
figure.snip1157 blockquote:before {
  top: 25px;
  left: 20px;
}
figure.snip1157 blockquote:after {
  content: "\201D";
  right: 20px;
  bottom: 0;
}
figure.snip1157 .arrow {
  top: 100%;
  width: 0;
  height: 0;
  border-left: 0 solid transparent;
  border-right: 25px solid transparent;
  border-top: 25px solid #fafafa;
  margin: 0;
  position: absolute;
}
figure.snip1157 .author {
  position: absolute;
  bottom: 45px;
  padding: 0 10px 0 120px;
  margin: 0;
  text-transform: uppercase;
  color: #ffffff;
  -webkit-transform: translateY(50%);
  transform: translateY(50%);
}
figure.snip1157 .author h5 {
  opacity: 0.8;
  margin: 0;
  font-weight: 800;
}
figure.snip1157 .author h5 span {
  font-weight: 400;
  text-transform: none;
  padding-left: 5px;
}
.testi{
  background-color: #c6c6c6;
    display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: wrap;
  margin: 0;
  height: 100%;
}


/* Demo purposes only */
html {
  height: 100%;
}
/* body {
  background-color: #212121;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: wrap;
  margin: 0;
  height: 100%;
} */
